[submodule "vendor/ChaiScript"]
	path = c++/vendor/ChaiScript
	url = https://github.com/ChaiScript/ChaiScript.git
[submodule "vendor/immer"]
	path = c++/vendor/immer
	url = https://github.com/arximboldi/immer.git
[submodule "vendor/googletest"]
	path = c++/vendor/googletest
	url = https://github.com/google/googletest
[submodule "vendor/cxxopts"]
	path = c++/vendor/cxxopts
	url = https://github.com/jarro2783/cxxopts
